@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

$text-color: #3c3c3c;
$title-color: #666;
$accent-color: #fc0;
$secondary-color: #898f8f;

$border-width: 1px;

$title-ff: Roboto, Arial, sans-serif;
$text-ff: Raleway, Arial, sans-serif;
$btn-ff: "Open Sans", Arial, sans-serif;
